<container style="width: 100%;">
	<row class="header">
		<columns>
			<div class="container-header-img">
				<img class="header-img" src="{{ email.image('@img/logo-fsyc.png') }}" alt="Top Gear Mobility!" style="width: 20%;"/>
			</div>
		</columns>
	</row>
</container>
